.App {
  text-align: center;
  margin: auto; 
}

.App-logo {
  height: 150px;
}

.App-header {
  background-color: rgb(255, 255, 255);
  height: 200px;
  padding: 20px;
  color: #404040;
}

.content {
  margin: auto; 
  text-align: left;
  width: 500px;
}

.App-title {
  font-size: 1.8em;
}

.App-intro {
  font-size: large;
}
